@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  min-height: 100vh;
  background-color: hsla(0, 00%, 90%, 0.8);
}